# ==> {{ app_service_path }} <==
[Unit]
Description = Ruby service (ruby-service)

[Service]
ExecStart = {{ app_install_path }}
KillSignal = SIGQUIT
ExecReload = /bin/kill -HUP $MAINPID
User = ubuntu
Environment = DEMO_SECRET_1={{ lookup('credstash','demo_secret_1', env='demo') }}
Environment = AWS_REGION={{ ansible_ec2_placement_region }}

[Install]
WantedBy = multi-user.target
